@{
    ViewData["Title"] = "Service Transaction History";
    var status = "ALL_TRANSACTIONS";
}
<link rel="stylesheet" href="~/css/render-rows.css" />


<div id="loadingSpinner" class="text-center my-3" style="display:none;">
    <div class="spinner-border text-primary" role="status"></div>
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
    <h4 class="mb-0">Service History</h4>

    <div class="row mb-3">
        <div class="col-auto">
            <input type="text"
                   id="historySearchInput"
                   class="form-control form-control-sm"
                   placeholder="Search..."
                   style="width: 620px;" />
        </div>
    </div>
</div>

<div class="d-flex justify-content-between align-items-center mb-3">
    <div id="serviceHistoryInfo" class="text-muted small mt-1"></div>
</div>


<div class="order-tracker">
    <a href="/Admin/Services/For_Confirmation"
       class="step @(status == "FOR_CONFIRMATION" ? "active" : "")">
        <div class="circle"></div>
        <span>For Confirmation</span>
    </a>

    <div class="line"></div>

    <a href="/Admin/Services/Processing"
       class="step @(status == "PROCESSING" ? "active" : "")">
        <div class="circle"></div>
        <span>Processing</span>
    </a>

    <div class="line"></div>

    <a href="/Admin/Services/Tech_Assign"
       class="step @(status == "TECH_ASSIGN" ? "active" : "")">
        <div class="circle"></div>
        <span>Technician Assignment</span>
    </a>

    <div class="line"></div>

    <a href="/Admin/Services/Scheduled"
       class="step @(status == "SCHEDULED" ? "active" : "")">
        <div class="circle"></div>
        <span>Scheduled</span>
    </a>
    <div class="line"></div>

    <a href="/Admin/Services/All_Bookings"
       class="step @(status == "ALL_BOOKINGS" ? "active" : "")">
        <div class="circle"></div>
        <span>All Bookings History</span>
    </a>

    <a href="/Admin/Services/All_Service_Transactions"
       class="step @(status == "ALL_TRANSACTIONS" ? "active" : "")">
        <div class="circle"></div>
        <span>All Service History</span>
    </a>  
</div>

<div class="d-flex justify-content-end mb-2">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside">
            Filter Status
        </button>

        <ul class="dropdown-menu p-3 shadow-sm" style="min-width: 220px;">

            <li>
                <div class="form-check">
                    <input class="form-check-input status-filter" type="checkbox" value="COMPLETED" id="statusCompleted">
                    <label class="form-check-label" for="statusCompleted">
                        Completed
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check">
                    <input class="form-check-input status-filter" type="checkbox" value="PARTIALLY_COMPLETED" id="statusPartial">
                    <label class="form-check-label" for="statusPartial">
                        Partially Completed
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check">
                    <input class="form-check-input status-filter" type="checkbox" value="FAILED" id="statusFailed">
                    <label class="form-check-label" for="statusFailed">
                        Failed
                    </label>
                </div>
            </li>
            <li>
                <div class="form-check">
                    <input class="form-check-input status-filter" type="checkbox" value="FAILED_FOR_REFUND" id="statusFailed">
                    <label class="form-check-label" for="statusFailed">
                        Failed, for refund
                    </label>
                </div>
            </li>

            <li>
                <div class="form-check">
                    <input class="form-check-input status-filter" type="checkbox" value="CANCELLED" id="statusCancelled">
                    <label class="form-check-label" for="statusCancelled">
                        Cancelled
                    </label>
                </div>
            </li>

        </ul>
    </div>
</div>

<br>

<table class="table table-hover align-middle">
    <thead class="table-light">
        <tr>
            <th></th> <!-- for arrow -->
            <th class="text-center small sortable" data-column="stRefCode" onclick="sort('stRefCode')">Service Transaction Code</th>
            <th class="text-center small sortable" data-column="serviceBookingRefCode" onclick="sort('serviceBookingRefCode')">SB Reference Code</th>
            <th class="text-center small sortable" data-column="customerName" onclick="sort('customerName')">Customer's Name'</th>
            <th class="text-center small">Schedule</th>
            <th class="text-center small sortable" data-column="actualScheduledDate" onclick="sort('actualScheduledDate')">Actual Sched Date</th>
            <th class="text-center small sortable" data-column="actualSchedTime" onclick="sort('actualSchedTime')">Actual Sched Time</th>
            <th class="text-center small sortable" data-column="estimatedCompletionDate" onclick="sort('estimatedCompletionDate')">Est. Completion Date</th>
            <th class="text-center small sortable" data-column="estimatedCompletionTime" onclick="sort('estimatedCompletionTime')">Est. Completion Time</th>
            <th class="text-center small sortable" data-column="noOfTechnicians" onclick="sort('noOfTechnicians')">Technicians Required</th>
            <th class="text-center small sortable" data-column="difficultyRate" onclick="sort('difficultyRate')">Work Difficulty</th>
            <th class="text-center small sortable" data-column="createdAt" onclick="sort('-')">ST Create Date</th>
            <th class="text-center small">Status</th>

    </thead>

    <tbody id="servicesHistoryTableBody">
        <!-- injected by JS -->
    </tbody>
</table>


<nav aria-label=" All Services Pagination" class="mt-3">
    <ul id="pagination" class="pagination justify-content-center">
        <!-- pagination injected by JS -->
    </ul>
</nav>

<script src ="~/js/st-all_service_transactions.js"></script>